# General
NODE_ENV=development

# API
API_PORT=3000
API_URL=http://localhost:3000

# Mobile
EXPO_PUBLIC_API_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://username:password@localhost:5432/tda

# Clerk authentication
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=

# Cloudflare R2
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=

# Notifications
EXPO_PUBLIC_PROJECT_ID=
FIREBASE_PROJECT_ID=